@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definición de colores principales */
:root {
    --black-text: #3C3C3C;
    --white-text: #FFFFFF;
    --light-blue: #8F9FC2;
    --dark-blue: #3F5068;
    --golden: #CF9A7E;
}
body {
    font-family: poppins, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
}

/* Estilos para los items de navegacion */
.nav-item {
    position: relative;
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--golden);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: var(--golden);
}

.nav-link:hover::after {
  width: 100%;
}